<!-- <h1>Hello World</h1>

<div>
  <p [ngClass]="{ 'active': isActive, 'inactive': !isActive }">Paragraph 1</p>
  <p appHighlight>Paragraph 2</p>

  <details>
    <summary>
      My name is
    </summary>
    <p appHighlight>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, temporibus? Delectus vero optio excepturi
      quibusdam, animi veniam sit? Itaque sequi pariatur accusamus optio aperiam consequuntur quis rem dolor! Officia,
      eius? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eum soluta ad ea ipsa odio obcaecati
      ratione repellat maxime minima, inventore aut tenetur omnis rem, aliquam velit, quas corporis animi.
    </p>
  </details>

  <form action="">
    <label for="name" >Name: </label>
    <input [(ngModel)]="user.name" class="" type="text" id="name" name="name"> <br>

    <label for="password" >Password: </label>
    <input [(ngModel)]="user.password"  [ngModelOptions]="{standalone: true}" id="password" type="password"> <br>

    <button (click)="dataSubmit()">Submit</button>

  </form>

  Preview :
  <p>{{user.name}}</p>
  <p>{{user.password}}</p>

</div> -->

<h1>Login</h1>
<form>
  
</form>