<header class="bg-gradient-to-r from-slate-600 via-yellow-300 to-red-500 text-white py-4 flex">
  <nav>
    <button 
      (click)="setVisible()" 
      class="w-[6rem] top-3 left-2 bg-gray-700 text-white p-3 rounded-full shadow-lg hover:bg-gray-600">
      <span *ngIf="!isVisible">☰ Menu</span>
      <span *ngIf="isVisible">✖ Close</span>
    </button>
  </nav>
  <h1 class="text-3xl font-bold text-center">
    <a href="/">Welcome to my {{title}}</a>
  </h1>
</header>

<main class="flex flex-col md:flex-row min-h-screen">
  <aside 
    class="absolute h-screen md:static bg-gray-800 text-white transform transition-transform duration-300" 
    [class.-translate-x-full]="!isVisible" 
    [class.translate-x-0]="isVisible">
    <ul *ngFor="let link of nav, " class="p-2 text-lg">
      <li>
        <a 
          href="link.href"
          class="block bg-gray-700 p-4 rounded-lg hover:bg-gray-600">
          {{link.name}}
        </a>
      </li>
    </ul>
  </aside>

  <article class="w-full h-screen bg-gray-100 p-6">
    <router-outlet></router-outlet>
  </article>
</main>
